<!DOCTYPE html>
<html lang="en" ng-app="MyFirstApp">
<!--any thing under np=app is under angular-->

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

    <script src="angular/angular.js"></script>
    <script src="firstangular.js"></script>


</head>
<body ng-controller="MyFirstCtrl as ctrl">
<!--anything under body is under MyFirstCtrl, named ctrl-->

Message:
<input type="text" size="30" ng-model="ctrl.message">
<!--This is input-->

<button type="button" ng-click="ctrl.convertToUpperCase()">
    To Uppercase
</button>

<h1>{{ ctrl.message}}</h1>
<!--display the controller message here-->
<!--consider as output-->

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <form method="post" action="https://coderinyou-1332.appspot.com/submit/">
        <fieldset>
            <legend>Registration Form</legend>
            <div class="form-group">
                <label for="name-id">Name</label>
                <input id="name-id" class="form-control" type="text" name="name"
                       placeholder="Input name here">
            </div>
            <div class="form-group">
                <label for="gender-id">Gender</label>
                <select class="form-control" id="gender-id" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tel-id">Telephone</label>
                <input id="tel-id" class="form-control" type="tel" name="telephone"
                       autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="email-id">Email</label>
                <input id="email-id" class="form-control" type="email" name="email"
                       placeholder="xxxx@xxx.com"
                       autocomplete="email" required>
            </div>

            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Number of Occupants
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                </div>
            </div>

            <label for="smoking">Smoking</label>
            <div class="form-group" id="smoking">
                <div class="radio">
                    <input value="first" type="radio" name="choice" id="first-id" checked>
                    Yes
                </div>
                <div class="radio">
                    <input value="second" type="radio" name="choice" id="second-id">
                    No
                </div>
            </div>


            <div class="form-group">
                <label for="amenities">Amenities</label>
                <div class="checkbox" id="amenities">
                    <label>
                        <input type="checkbox" id="check-id" name="check" value="checked">Pool
                    </label>
                    <label>
                        <input type="checkbox" id="check-id" name="check">Wifi
                    </label>
                    <label>
                        <input type="checkbox" id="check-id" name="check">TV
                    </label>
                    <label>
                        <input type="checkbox" id="check-id" name="check">Room Dinning
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="specialrequest">Special Request</label>
                <input id="specialrequest" class="form-control" type="text" name="name">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </fieldset>
    </form>
</div>

</body>
</html>